<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Travel Planner</title>
        <meta
          content="width=device-width, initial-scale=1, maximum-scale=1"
          name="viewport"
        />
    </head>

    <body>
        <header>
            <div class="title">
                Travel Planner
            </div>
            <div id="toggle-container">
                <button id="toggle-button" class="toggle-plan">Hide Planner</button>
            </div>
        </header>
        <main>
            <h1 class="sub-header">Remember upcoming trips and prepare for weather!</h1>
            <section id="input-section">
                <form id="input-form">
                    <h3>Plan A New Trip</h3>                    
                    <h5>Pick An Arrival Date</h5>
                    <div class="calendar">
                        <div id="calendar"></div>
                    </div>
                    <p class="input-error" id="calendar-error">Please select a date</p>
                    <label for="city">City</label>
                    <input type="text" id="city" name="city">
                    <p class="input-error" id="city-error">Please enter a city</p>
                    <label for="state">State (if applicable)</label>
                    <input type="text" id="state" name="state">
                    <label for="country">Country</label>
                    <input type="text" id="country" name="country">
                    <p class="input-error" id="country-error">Please enter a city</p>
                    <p class="input-error" id="server-error"></p>
                    <p id="processing">Processsing...</p>
                    <div class="button-container">
                        <button id="find-location">Find Location</button>
                    </div>
                </form>
            </section>
            <div id="planned-trips"></div>
        </main>
        <!-- <script src="datepicker.min.js"></script> -->
        <script src="https://unpkg.com/js-datepicker"></script>
    </body>
</html>
