h1 {
    font-size: 1.9em;
    text-align: left;
    margin: 20px 40px 0px;
}

h3,h4,h5 {
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 20px;
    color: red;
}

h5, label {
    font-size: 0.9em;
    padding-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    font-size: 1.5em;
}

button {
	color: red;
	text-transform: uppercase;
	background: #ffffff;
	padding: 10px;
	border: 2px solid red;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
    margin-top: 20px;
}

input {
    margin-bottom: 20px;
}

button:hover {
	color: #20bf6b;
	border-radius: 50px;
	border-color: #20bf6b;
	transition: all 0.3s ease 0s;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-right: 30px;
    color: #20bf6b;
}

.title {
    font-style: oblique;
    font-size: 0.9em;
}

.sub-header {
    font-size: 1.8em;
}

.toggle-plan {
    border-radius: 1px;
    padding: 5px;
    margin-top: 0px;
}

.calendar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.input-error {
    font-size: 0.9em;
    color: red;
    padding-bottom: 15px;
    display: none;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    background-color:  rgb(68,56,46);
    overflow: hidden;
    box-shadow: 6px 6px 5px rgb(170, 168, 168);
    border-radius: 10px;
}

.qs-day {
    font-weight: 200;
}

.qs-current {
    font-weight: 200;
}

.qs-month-year {
    font-weight: 200;
}

.trip-section {
    padding: 20px;
    background-color: white;
}

.trip-header {
    font-size: 0.9em;
    padding: 0px;
}

.trip-data {
    color: black;
    font-size: 1.4em;
}

#toggle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    color: #20bf6b;
}

#processing {
    font-size: 0.9em;
    text-align: center;
}

@media(min-width:500px) {
    .qs-datepicker-container {
        width: 19em;
    }
    .title {
        font-size: 1em;
    }
    .sub-header {
        font-size: 2em;
    }
}